In [28]:
from pandas import DataFrame, read_csv, concat
ind = read_csv("csvs/indianaAgents.csv", index_col="Index")
ind = ind.rename(columns={"LicenseID": "License Number"})
ind["State"] = ["Indiana"]*len(ind)

iowa = read_csv("csvs/iowaAgents.csv", index_col="Index")
iowa["Address"] = iowa["Street"] + " " + iowa["Location"]
iowa = iowa.drop(['Street', "Location"], axis=1)
iowa = iowa.rename(columns={"ExpirationDate": "Expiration"})
iowa["State"] = ["Iowa"]*len(iowa)

nk = read_csv("csvs/nebraskaAgentsUpdated.csv", index_col="Index")
nk = nk.drop(columns=["Email"])
nk = nk.rename(columns={"Original Issue Date": "OriginalCreatedDate"})
nk["State"] = ["Nebraska"]*len(nk)

mn = read_csv("csvs/MinnesotaTest3.csv")
mn = mn.rename(columns={"City": "Address"})
mn["State"] = ["Minnesota"]*len(mn)

df = concat([ind, iowa, nk, mn])
display(df)
df.to_csv("generalAgentData.csv")

,Name,License Number,Address,State,FirmName,License Type,Expiration,OriginalCreatedDate,Phone Number,Status
0,"Aaron, Mary",RB14040776,Gary IN 46408,Indiana,NaN,NaN,NaN,NaN,NaN,NaN
1,"Aaron, Philip",RB14014285,Fortville IN 46040,Indiana,NaN,NaN,NaN,NaN,NaN,NaN
2,"Aaron-Wells, Tonja F.",RB14029919,Clarksville IN 47129,Indiana,NaN,NaN,NaN,NaN,NaN,NaN
3,"Aasen, Noelle A.",RB16000564,Indianapolis IN 46256,Indiana,NaN,NaN,NaN,NaN,NaN,NaN
4,"Abbott, Amy R.",RB14044025,Springport IN 47386,Indiana,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19659,"ZWICK, WILLIAM H",654029,LINDSTROM,Minnesota,NaN,Resident Real Estate Broker,NaN,NaN,NaN,Inactive
19660,"*ZYLLA, A",121701,ST CLOUD,Minnesota,NaN,Resident Real Estate Broker,NaN,NaN,NaN,Inactive
19661,"ZYLLA, ALEXANDER A",121701,ST CLOUD,Minnesota,NaN,Resident Real Estate Broker,NaN,NaN,NaN,Inactive
19662,"Zylla, Dennis S",88229,Plymouth,Minnesota,NaN,Resident Real Estate Broker,NaN,NaN,NaN,Inactive
19663,"ZYLMAN, JOEL MARK",20056929,MOUND,Minnesota,NaN,Resident Real Estate Broker,NaN,NaN,NaN,Inactive